/***************/
/*LOADER SCREEN*/
/***************/

/*Loader screen animation thanks to http://tobiasahlin.com/spinkit/ */
	#loader{
		background-color: #05706d;
		display: inline-block;
		height: 100%;
		width: 100%;
		left: 0px;
		position: fixed;	
		text-align: center;
		top: 0px;
		z-index: 100;
		opacity: 1;
		transition: opacity .5s ease-in-out;
	}

	.spinner {
	  margin: 100px auto;
	  width: 80px;
	  height: 80px;
	  position: relative;
	}

	.container1 > div, .container2 > div, .container3 > div {
	  width: 20px;
	  height: 20px;
	  background-color: #fff;

	  border-radius: 100%;
	  position: absolute;
	  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
	  animation: bouncedelay 1.2s infinite ease-in-out;
	  /* Prevent first frame from flickering when animation starts */
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}

	.spinner .spinner-container {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	}

	.container2 {
	  -webkit-transform: rotateZ(45deg);
	  transform: rotateZ(45deg);
	}

	.container3 {
	  -webkit-transform: rotateZ(90deg);
	  transform: rotateZ(90deg);
	}

	.circle1 { top: 0; left: 0; }
	.circle2 { top: 0; right: 0; }
	.circle3 { right: 0; bottom: 0; }
	.circle4 { left: 0; bottom: 0; }

	.container2 .circle1 {
	  -webkit-animation-delay: -1.1s;
	  animation-delay: -1.1s;
	}

	.container3 .circle1 {
	  -webkit-animation-delay: -1.0s;
	  animation-delay: -1.0s;
	}

	.container1 .circle2 {
	  -webkit-animation-delay: -0.9s;
	  animation-delay: -0.9s;
	}

	.container2 .circle2 {
	  -webkit-animation-delay: -0.8s;
	  animation-delay: -0.8s;
	}

	.container3 .circle2 {
	  -webkit-animation-delay: -0.7s;
	  animation-delay: -0.7s;
	}

	.container1 .circle3 {
	  -webkit-animation-delay: -0.6s;
	  animation-delay: -0.6s;
	}

	.container2 .circle3 {
	  -webkit-animation-delay: -0.5s;
	  animation-delay: -0.5s;
	}

	.container3 .circle3 {
	  -webkit-animation-delay: -0.4s;
	  animation-delay: -0.4s;
	}

	.container1 .circle4 {
	  -webkit-animation-delay: -0.3s;
	  animation-delay: -0.3s;
	}

	.container2 .circle4 {
	  -webkit-animation-delay: -0.2s;
	  animation-delay: -0.2s;
	}

	.container3 .circle4 {
	  -webkit-animation-delay: -0.1s;
	  animation-delay: -0.1s;
	}

	@-webkit-keyframes bouncedelay {
	  0%, 80%, 100% { -webkit-transform: scale(0.0) }
	  40% { -webkit-transform: scale(1.0) }
	}

	@keyframes bouncedelay {
	  0%, 80%, 100% { 
	    transform: scale(0.0);
	    -webkit-transform: scale(0.0);
	  } 40% { 
	    transform: scale(1.0);
	    -webkit-transform: scale(1.0);
	  }
	}

html, body{
	margin: 0;
	padding: 0;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cabin', sans-serif;
	text-align: center;
	color: #171719;
	font-weight: normal;
	background-color: #05706d;
	font-size: 16px;
}

header{
	width: 30%;
	height: 150px;
	padding: 30px 0;
	display: inline-block;
	text-align: center;
	background-color: #fff;
	float: left;
}

.header-container{
	background-color: #fff;
	border-top: 5px solid #05706d;
	border-bottom: 5px solid #05706d;
}

img{
	display: inline-block;
	max-width: 100%;
	max-height: 70px;
}

h1{
	width: 100%;
	font-size: 4em;
	padding: 15px 0;
	margin: 0;
}

h2{
	width: 100%;
	font-size: 2em;
	padding: 15px 0;
	margin: 0;
}

h3{
	width: 100%;
	font-size: 1.5em;
	padding: 15px 0;
	margin: 0;
}

nav{
	display: inline-block;
	width: 100%;
	height: 60px;
	margin: 0 0 0 105px;
	padding: 75px 0;
	background-color: #cccccf;
	border-left: 5px solid #05706d;
	border-right: 5px solid #05706d;
	border-top: 0 solid transparent;	
	text-align: center;
	-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
	transform: skew(-45deg);
}

nav ul{
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

nav ul li a{
	text-decoration: none;
	color: #1c1c1f;
	font-size: 1.2em;
}

nav ul li a:hover{
	text-decoration: underline;
}

nav ul li{
	display: inline-block;
	margin: 0 15px;
	padding: 10px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: skew(45deg);
}

.nav-container{
	width: 70%;
	height: 210px;
	overflow: hidden;
	text-align: center;
	float: right;
}

.list-about{
	color: #05706d;
	text-decoration: underline;
}

section{
	display: inline-block;
	max-width: 708px;
	padding: 30px;
}

footer{
	display: inline-block;
	width: 100%;
	text-align: center;
	border-top: 5px solid #05706d;
	background-color: rgba(23,23,25,0.3);
	color: #fff;
}

.logo{
	width: 100%;
	padding: 30px 0;
}

#logo-image{
	display: inline-block;
	background-image: url("../images/logo_heart_teal.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 80%;
	height: 100px;
	margin: 0 10%;
	padding: 0;
}

#fixedbackground{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 640px;
	background-image: url("../images/background_pattern_teal.png");
	background-position: center;
	background-repeat: repeat;
	z-index: -1;
}

.container{
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	float: left;
}

.title{
	display: inline-block;
	width: 100%;
	height: 55px;
	margin: 0;
	padding: 30px 0;
	color: #fff;
	font-weight: bold;
	font-size: 48px;
	text-shadow: 2px 2px #171719;
	text-align: center;
}

.title-container{
	background-color: rgba(23,23,25,0.3);
	border-bottom: 5px solid #05706d;
}

.about-container{
	background-color: #fff;
}

.headshot{
	display: inline-block;
	width: 200px;
	height: 200px;
	background-image: url('../images/profile_pic.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
	border: 5px solid #05706d;
}

.row{
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 20px 0;
	background-color: #fff;
}

.line{
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,110,110,0.75), rgba(0,0,0,0)); 
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,110,110,0.75), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,110,110,0.75), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,110,110,0.75), rgba(0,0,0,0)); 
	border: 0;
	display: inline-block;
	height: 5px;
	width: 100%;	
}

@media screen and (max-width: 900px){
	header{
		width: 100%;
	}

	.nav-container{
		width: 100%;
		height: auto;
	}

	nav{
		height: auto;
		margin: 0;
		padding: 0;
		border-left: 0 solid transparent;
		border-right: 0 solid transparent;
		border-top: 5px solid #05706d;
		-ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */	
		transform: skew(0deg);
	}

	nav ul li{
		margin: 0 15px;
		padding: 10px;
		-ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: skew(0deg);
	}
}

@media screen and (max-width: 768px){
	section{
	display: inline-block;
	max-width: 80%;
	padding: 30px 10%;
	}
}

@media screen and (max-device-width: 768px){
	header{
		width: 100%;
	}

	.nav-container{
		width: 100%;
		height: auto;
	}

	nav{
		height: auto;
		margin: 0;
		padding: 0;
		border-left: 0 solid transparent;
		border-right: 0 solid transparent;
		border-top: 5px solid #05706d;
		-ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */	
		transform: skew(0deg);
	}

	nav ul li{
		margin: 0 15px;
		padding: 10px;
		-ms-transform: rotate(0deg); /* IE 9 */
    	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: skew(0deg);
	}

	section{
	display: inline-block;
	max-width: 80%;
	padding: 30px 10%;
	}
}



